.c-amiibo-item {
  &__item-container {
    &:hover {
      .c-amiibo-item__img {
        transform: rotateY(360deg);
      }
    }
  }
  &__item {
    margin: 1rem auto;
    text-align: center;
  }
  &__img {
    transition: transform .5s ease-in-out;
    height: 16rem;
    max-height: 100%;
  }
  &__caption {
    font-size: 3rem;
    margin-top: 1rem;
    font-family: "Arial";
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
  }
}