.c-text-list {
  
  // como recomendacion siempre debemos usar multiplos de 8 para los px
  &__item{
    height: 160px;
    margin: 16px auto;
    text-align: center;
    cursor: pointer;
  }
  
  &__text{
    color: white;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 16px;
    background-color: rgba(255, 255, 255, 0.1);
  }
}