.c-contact{
  display: flex;
  align-items: center;
  justify-content: center;
  
  &__form{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    padding: 16px;
  }
  &__label{
    margin: 8px;
  }
  &__submit{
    margin: 8px;
    // max-width: 64px;
  }
}