.c-amiibo-gallery {
  &__item-container {
    text-decoration: none;
    &:hover {
      .c-amiibo-gallery__img{
        transform: rotateY(360deg);
      }
    }
  }
  // como recomendacion siempre debemos usar multiplos de 8 para los px
  &__item{
    height: 248px;
    margin: 64px auto;
    text-align: center;
    cursor: pointer;
  }
  &__img{
    max-height: 100%;
    transition: transform .5s ease-in-out;

  } 
  &__text{
    color: white;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 16px;
    background-color: rgba(255, 255, 255, 0.1);
  }
}