.c-amiiboSearch {
  display: flex;
  align-items: center;
  justify-content: space-around;

  &__form {
    display: flex;
    width: 480px;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    padding: 16px;
    position: relative;
    left: 22px;
  }

  &__label {
    margin: 8px;
    font-size: 1rem;
  }

  &__input {
    margin: 8px;
    height: 1.5rem;
    border-radius: 3px;
    font-size: 1.2rem;
  }

  &__textArea {
    margin: 8px 8px 16px;
    border-radius: 3px;
  }

  &__submit {
    margin: 8px;
    height: 2.3rem;
    background-color: rgba(255, 255, 255, 0.1);
    border: solid;
    border-color: white;;
    border-radius: 3px;
    color: white;
    font-size: 1.5rem;
  }
}