.c-menu {
  display: flex;
  justify-content: center;
  margin: 24px;

  &__link {
    color: white;
    font-size: 16px;
    font-family: Arial;
    margin: 8px;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    min-width: 8rem;
    text-align: center;
    //border-radius: 50px;
  }
  
}